{% extends "base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'deps/css/product_detail.css' %}">

<style>
    html, body {
        height: 100%;
        margin: 0;
        padding: 0;
    }
    
    body {
        display: flex;
        flex-direction: column;
    }
    
    .content-wrapper {
        flex: 1 0 auto;
        padding-bottom: 60px;
    }
    
    footer {
        flex-shrink: 0;
        background-color: #343a40;
        color: white;
        padding: 20px 0;
        margin-top: auto;
    }
</style>

{% endblock css %}

{% block modal_cart %} 
{% include "includes/cart_button.html" %}
{% endblock modal_cart %}

{% block content %}
<div class="container mt-5">
    <div class="card mb-4 custom-shadow product-card">
        <div class="row h-100">
            <!-- Миниатюра -->
            <div class="col-md-4 d-flex align-items-center product-image-container">
                <img src="{{ product.image.url }}"
                    class="img-thumbnail w-100 h-auto product-image cursor-zoom-in"
                    data-bs-toggle="modal" 
                    data-bs-target="#imageModal"
                    alt="{{ product.name }}"
                    title="Нажмите для увеличения">
            </div>
            
            <div class="col-md-8 d-flex flex-column">
                <div class="card-body product-description">
                    <p class="product_id mt-3">id: {{ product.display_id }}</p>
                    {% comment %} <p class="card-text"><span class="price-label">Цена:</span> <strong class="price-text">{{ product.price }}</strong></p> {% endcomment %}
                    <h5 class="card-title product-title">{{ product.name }}</h5>
                    <p class="card-text product-text">{{ product.description }}</p>
                    <a href="{% url 'cart:cart_add' %}" 
                       class="btn btn-dark add-to-cart-btn add-to-cart"
                       data-product-id="{{ product.id }}">
                        {% csrf_token %}
                        Добавить в список
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Модальное окно для увеличенного изображения -->
<div class="modal fade" id="imageModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content bg-transparent border-0">
            <div class="modal-close-btn" data-bs-dismiss="modal" aria-label="Закрыть"></div>
            <div class="modal-image-container">
                <img src="{{ product.image.url }}" 
                     class="modal-image" 
                     alt="Увеличенное изображение {{ product.name }}">
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block footer %}
<footer class="py-4 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Сибирский государственный университет телекоммуникаций и информатики 2025 г.</p>
    </div>
</footer>
{% endblock footer %}