{% load static %}
{% load carts_tags %}

{% user_carts request as carts %}

<div>
    <button type="button" class="btn btn-dark btn-secondary d-flex cart-modal-button" id="modalButton">
        <img src="{% static 'deps/icons/table_icon.png' %}" width="68" height="64">
        <span id="goods-in-cart-count">{{ carts.total_quantity }}</span>
    </button>
</div>

<div class="modal fade" id="exampleModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Ваше выбранное оборудование</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                {% include "carts/includes/included_cart_modal.html" %}
            </div>
            <!-- Футер убран отсюда, он будет в included_cart_modal.html -->
        </div>
    </div>
</div>