{% extends "base.html" %}
{% load static %}

{% block modal_cart %} 
{% include "includes/cart_button.html" %}
{% endblock modal_cart %}

{% block css %}
<link rel="stylesheet" href="{% static 'deps/css/neon-auth.css' %}">
{% endblock %}

{% block content %}
<div class="row">
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6 p-4 mb-4 mx-3 rounded neon-form">
                <h2 class="text-center mb-4 neon-title">Авторизация</h2>
                <form action="{% url 'user:login' %}" method="post">
                    {% csrf_token %}
                    
                    {% if request.GET.next %}
                        <input type="hidden" name="next" value="{{ request.GET.next }}">
                    {% endif %}
                    
                    <div class="mb-3">
                        <label for="id_username" class="form-label neon-label">Имя пользователя</label>
                        <input type="text" class="form-control neon-input" 
                               value="{% if form.username.value %}{{ form.username.value }}{% endif %}" 
                               name="username" id="id_username" 
                               placeholder="Введите ваше имя пользователя" required>
                    </div>
                    
                    <div class="mb-3">
                        <label for="id_password" class="form-label neon-label">Пароль</label>
                        <input type="password" class="form-control neon-input" 
                               name="password" id="id_password" 
                               placeholder="Введите ваш пароль" required>
                    </div>
                    
                    <button type="submit" class="btn btn-block neon-btn py-2">Войти</button>
                </form>
                
                <div class="mt-3 text-center">
                    <a href="#" class="neon-link me-3">Забыли пароль?</a> 
                    <a href="{% url 'users:registration' %}" class="neon-link">Создать аккаунт</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}