{% extends "base.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'deps/css/my_footer_css.css' %}">
    <link rel="stylesheet" href="{% static 'deps/css/neon-logo.css' %}">

{% endblock css %}

{% block modal_cart %} 
{% include "includes/cart_button.html" %}
{% endblock modal_cart %}

{% block content %}
<div class="neon-container">
    <h1 class="neon-title">{{ APP_NAME }}</h1>
</div>
<h1 class="mt-5 pt-5"><strong>{{ content }}</strong></h1>
{% endblock content %}

{% block footer %}
<footer class="py-4 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Сибирский государственный университет телекоммуникаций и информатики 2025 г.</p>
    </div>
</footer>
{% endblock footer %}